<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @date_xse.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @date_xse.code %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @date_xse.ref %>
</p>

<p>
  <strong>About:</strong>
  <%= @date_xse.about %>
</p>

<%= link_to 'Edit', edit_date_xse_path(@date_xse) %> |
<%= link_to 'Back', date_xses_path %>
