<%= form_with(model: format_mime, local: true) do |form| %>
  <% if format_mime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(format_mime.errors.count, "error") %> prohibited this format_mime from being saved:</h2>

      <ul>
      <% format_mime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
