<%= form_with(model: marc, local: true) do |form| %>
  <% if marc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marc.errors.count, "error") %> prohibited this marc from being saved:</h2>

      <ul>
      <% marc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :literature_id %>
    <%= form.text_field :literature_id %>
  </div>

  <div class="field">
    <%= form.label :marc_type_id %>
    <%= form.text_field :marc_type_id %>
  </div>

  <div class="field">
    <%= form.label :marc %>
    <%= form.text_field :marc %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
