<%= form_with(model: format, local: true) do |form| %>
  <% if format.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(format.errors.count, "error") %> prohibited this format from being saved:</h2>

      <ul>
      <% format.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :format_mime_id %>
    <%= form.text_field :format_mime_id %>
  </div>

  <div class="field">
    <%= form.label :format_extent_id %>
    <%= form.text_field :format_extent_id %>
  </div>

  <div class="field">
    <%= form.label :scan_resolution %>
    <%= form.number_field :scan_resolution %>
  </div>

  <div class="field">
    <%= form.label :literature_id %>
    <%= form.text_field :literature_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
