<p id="notice"><%= notice %></p>

<h1>Tempus</h1>

<table>
  <thead>
    <tr>
      <th>Literature</th>
      <th>Date type</th>
      <th>Date xsis</th>
      <th>Date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tempus.each do |tempu| %>
      <tr>
        <td><%= tempu.literature %></td>
        <td><%= tempu.date_type %></td>
        <td><%= tempu.date_xsis %></td>
        <td><%= tempu.date %></td>
        <td><%= tempu.note %></td>
        <td><%= link_to 'Show', tempu %></td>
        <td><%= link_to 'Edit', edit_tempu_path(tempu) %></td>
        <td><%= link_to 'Destroy', tempu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tempu', new_tempu_path %>
