<p id="notice"><%= notice %></p>

<p>
  <strong>Literature:</strong>
  <%= @tempu.literature %>
</p>

<p>
  <strong>Date type:</strong>
  <%= @tempu.date_type %>
</p>

<p>
  <strong>Date xsis:</strong>
  <%= @tempu.date_xsis %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tempu.date %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tempu.note %>
</p>

<%= link_to 'Edit', edit_tempu_path(@tempu) %> |
<%= link_to 'Back', tempus_path %>
