<%= form_with(model: cadal_type, local: true) do |form| %>
  <% if cadal_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cadal_type.errors.count, "error") %> prohibited this cadal_type from being saved:</h2>

      <ul>
      <% cadal_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
