<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2"> <%= t '.metadata' %> </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>
<h3><%= t ".metadata_lists" %></h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>MLID</th>
        <th colspan="3"> <%= t ".action" %> </th>
      </tr>
    </thead>
    <tbody>
      <% @literatures.each do |literature| %>
      <tr>
        <td><%= literature.id %></td>
        <td><%= literature.mlid %></td>
        <td><%= link_to 'Show', [:admin, literature] %></td>
        <td><%= link_to 'Edit', edit_admin_literature_path(literature) %></td>
        <td><%= link_to 'Destroy', [:admin, literature], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Literature', new_admin_literature_path %>
</div>
