<p id="notice"><%= notice %></p>

<p>
  <strong>Literature:</strong>
  <%= @guide.literature %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @guide.cover %>
</p>

<p>
  <strong>Title:</strong>
  <%= @guide.title %>
</p>

<p>
  <strong>Colophon:</strong>
  <%= @guide.colophon %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @guide.copyright %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @guide.abstract %>
</p>

<p>
  <strong>Toc:</strong>
  <%= @guide.toc %>
</p>

<p>
  <strong>Foreword:</strong>
  <%= @guide.foreword %>
</p>

<p>
  <strong>Preface:</strong>
  <%= @guide.preface %>
</p>

<p>
  <strong>Content:</strong>
  <%= @guide.content %>
</p>

<p>
  <strong>Index:</strong>
  <%= @guide.index %>
</p>

<p>
  <strong>Loi:</strong>
  <%= @guide.loi %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @guide.reference %>
</p>

<p>
  <strong>Backcover:</strong>
  <%= @guide.backcover %>
</p>

<p>
  <strong>Total page:</strong>
  <%= @guide.total_page %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
